body, html {
	height: 100%;
	margin: 0;
	/* cursor: url("../assets/icon/mute_small.png"), auto; */
}

.pages {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

p {
	margin: 0%;
	padding: 0%;
}

/*--------------------HR--------------------*/
hr {
  height: 1px;
  border: none;
  background-color: #ffffff;
}

.header {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.gucccikev {
	text-decoration: none;
	font-family: AbadiExtraLight;
	font-size: 25px;
	color: #ffffff;
	margin-left: 10px;
}

.email {
	text-decoration: none;
	font-family: AbadiExtraLight;
	font-size: 25px;
	color: #ffffff;
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}

.linkedin {
	text-decoration: none;
	font-family: AbadiExtraLight;
	font-size: 25px;
	color: #ffffff;
	float: right;
}


/*--------------------HR--------------------*/

/*--------------------FIRST PAGE--------------------*/
.firstPage {
	background-color: #666666;
}

.firstPageFirstBlock {
	position: absolute;
	top: 5%;
	left: 50px;
	width: fit-content;
	height: fit-content;
}

#design {
	font-family: AbadiLight;
	font-size: 100px;

	animation-duration: 1s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-name: slideInLeft;
}

#bringing {
	font-family: AbadiExtraLight;
	font-size: 25px;

	animation-delay: 4s;
	animation: fadeIn 2s;
}

.firstPageSecondBlock {
	position: absolute;
	bottom: 0;
	right: 50px;
	width: fit-content;
	height: fit-content;
	text-align: right;
}

#aka {
	font-family: AbadiExtraLight;
	font-size: 25px;

	animation-delay: 6s;
	animation: fadeIn 2s;
}

#kevser {
	font-family: AbadiLight;
	font-size: 100px;
	width: fit-content;
	height: fit-content;

	animation-duration: 1s;
	animation-timing-function: ease;
	animation-delay: 2s;
	animation-name: slideInLeft;
}
/*--------------------FIRST PAGE--------------------*/

/*--------------------SEC PAGE--------------------*/
.secondPage {
	background-color: #000000;
	display: flex;
}

.secondPageFirstBlock {
	width: 50%;
	font-family: AbadiBold;
	font-size: 100px;
	text-align: center;
}

.secondPageSecondBlock {
	width: 50%;
	font-family: AbadiBold;
	font-size: 100px;
	text-align: center;
}

#designer {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 100vh; 

	color: #ffffff;
}

#designerInfo {
	display: none;
  	align-items: center;
  	justify-content: center;
  	height: 100vh; 
	
	font-size: 20px;
	color: #ffffff;
}

#developer {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 100vh;
	
	color: #A91101;
}

#developerInfo {
	display: none;
	align-items: center;
  	justify-content: center;
  	height: 100vh; 
	
	font-size: 20px;
	color: #ffffff;
}

/*--------------------SEC PAGE--------------------*/

@keyframes slideInLeft {
	0% {
	  transform: translateX(-100%);
	}
	100% {
	  transform: translateX(0);
	}
  }
@keyframes slideInRight {
	100% {
	  transform: translateX(-100%);
	}
	0% {
	  transform: translateX(0);
	}
  }
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
/*--------------------FONT--------------------*/
@font-face {
  font-family: 'AbadiExtraLight';
  src: url('../assets/font/Abadi/EM-Abadi/AbadiMT-ExtraLight.ttf');
}
@font-face {
  font-family: 'AbadiLight';
  src: url('../assets/font/Abadi/EM-Abadi/AbadiMT-Light.ttf');
}
@font-face {
  font-family: 'AbadiExtraBold';
  src: url('../assets/font/Abadi/EM-Abadi/AbadiMT-ExtraBold.ttf');
}
@font-face {
  font-family: 'AbadiBold';
  src: url('../assets/font/Abadi/EM-Abadi/AbadiMT-Bold.ttf');
}
/*--------------------FONT--------------------*/

/*--------------------SCROLLBAR--------------------*/
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  /*border-radius: 30px;*/
}
/*--------------------SCROLLBAR--------------------*/
