.thirdPage {
	background-color: #000000;
	display: flex;
}

#aboutMe {
	/* cursor: pointer; */
	position: absolute;

	font-family: AbadiExtraLight;
	font-size: 80px;
	
	left: 50%;
  	top: 15%;
 	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	
	letter-spacing: .25em; 
	color: #A91101;
}

#aboutTitles {
	font-family: AbadiExtraLight;
	font-size: 25px;

	position: absolute;
	flex-direction: row;
	width: 100%;
	left: 50%;
  	top: 40%;
 	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);

	color: #ffffff;
}

#mindTitle{
	float: left;
	margin-left: 7%;
}
#codeTitle{
	margin-left: 9%;
}
#bodyTitle{
	float: right;
	margin-right: 7%;
}

#aboutImages {
	position: absolute;
	text-align: center;
	white-space: nowrap; 

  	left: 50%;
  	top: 50%;
 	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

#mindImage {
	/* border-radius: 50%;
	border: 5px solid #555; */
	--s: 10px; /* control the size */
	padding: var(--s);
	border: calc(2*var(--s)) solid #0000;
	outline: 2px solid #A91101;
	outline-offset: calc(-1*var(--s));
	background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#A91101 0);
}

#codeImage {
	--s: 10px; /* control the size */
	padding: var(--s);
	border: calc(2*var(--s)) solid #0000;
	outline: 2px solid #A91101;
	outline-offset: calc(-1*var(--s));
	background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#A91101 0);
}

#bodyImage {
	--s: 10px; /* control the size */
	padding: var(--s);
	border: calc(2*var(--s)) solid #0000;
	outline: 2px solid #A91101;
	outline-offset: calc(-1*var(--s));
	background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#A91101 0);
}


#mindText {
	font-family: AbadiExtraLight;
	font-size: 30px;

	position: absolute;
	
	left: 50%;
  	top: 80%;
 	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);

	text-align: justify;

	color: #ffffff;
}

#codeText {
	font-family: AbadiExtraLight;
	font-size: 30px;

	position: absolute;
	
	left: 50%;
  	top: 80%;
 	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);

	text-align: justify;

	color: #ffffff;
}

#bodyText {
	font-family: AbadiExtraLight;
	font-size: 30px;

	position: absolute;
	
	left: 50%;
  	top: 80%;
 	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);

	text-align: justify;

	color: #ffffff;
}

